.GameActions {
	text-align: center;
	height: 100%;
}
.GameActions button {
	background: var(--color-orange-light);
	border-radius: 30px;
	border: 0 solid var(--color-gray);
	color: var(--color-white);
	cursor: pointer;
	font-size: 14px;
	line-height: 20px;
	margin: 0 10px;
	padding: 10px 15px;
	text-transform: uppercase;
}
.GameActions button:hover {
	background: var(--color-orange);
}
.GameActions button:active {
	background: var(--color-orange-dark);
}
.GameActions button:focus {
	outline: none;
}
