.Players {
	margin-top: 20px;
}
.Players header {
	margin-bottom: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
}
.Player {
	height: 40px;
	padding-left: 10px;
	margin-bottom: 10px;
}
.Player:not(.is-active) {
	opacity: 0.3;
}
.Player img {
	height: 40px;
}
.Player span {
	vertical-align: top;
	line-height: 40px;
	margin-left: 10px;
}
