:root {
	--color-blue: #0a37f0;
	--color-white: #ffffff;
	--color-black: #000000;

	--color-gray: #b5b5b5;
	--color-gray-dark: #5c5c5c;
	--color-gray-light: #f9f9f9;

	--color-cyan: #1dc7ed;
	--color-cyan-dark: #2aa0c8;
	--color-cyan-light: #36ddff;

	--color-lime: #30d9ab;
	--color-lime-dark: #24b890;
	--color-lime-light: #38ebbc;

	--color-orange: #d1872c;
	--color-orange-dark: #a36416;
	--color-orange-light: #ffaa42;

	--color-purple: #4931a2;
	--color-purple-dark: #5539c3;
	--color-purple-light: #6141e3;

	--color-red: #db2c46;
	--color-red-dark: #bf263c;
	--color-red-light: #ff3352;
}

body {
	font-family: 'MuliRegular';
	margin: 0;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'TradeshiftDisplay';
}
button {
	font-family: 'MuliRegular';
}
strong {
	font-family: 'MuliBold';
}
em {
	font-family: 'MuliItalic';
}

@font-face {
	font-family: 'TradeshiftDisplay';
	src: local('TradeshiftDisplay'), url('./fonts/Tradeshift-Display-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'MuliRegular';
	src: local('MuliRegular'), url('./fonts/Muli-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'MuliBold';
	src: local('MuliBold'), url('./fonts/Muli-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'MuliItalic';
	src: local('MuliItalic'), url('./fonts/Muli-Italic.ttf') format('truetype');
}

/* fixes unable to drop some cards on some lanes */
/* https://github.com/rcdexta/react-trello/issues/203#issuecomment-570900387 */
.react-trello-lane .smooth-dnd-container {
	min-height: calc(100vh - 68px);
}
